.breadcrumb-wrap {
background-color:#f5f5f5
}

.breadcrumb {
background-color:transparent
}

.breadcrumb a {
color:#303030
}

.sidebar .nav > li > a {
color:#636363
}

.sidebar h2,.sidebar h3 {
color:#fff
}

.follow-links li a {
color:#4D4D4D
}

.follow-links.follow-texts li {
background-color:#F9F4F1
}

.follow-links.follow-texts li .fa {
background:#F5EAE6
}

.blog-detail-v2 .comment-heading {
border-color:#eee;
background-color:#ddd
}

.content-light-blue {
background-color:#fff
}

.content-light-blue .content-boxes .top-header .title {
color:#3a3d41
}

.content-light-blue .content-boxes .top-header .description {
color:#3a3d41
}

.content-light-blue .content-box ul li {
color:#3a3d41
}

.content-light-blue .content-boxes .content-box {
border-top-color:#ebebeb
}

.content-light-blue .content-boxes .content-box .icon-circle {
background-color:#43b8c2;
color:#fff
}

.content-blue {
background-color:#fff
}

.content-blue .top-header .title {
color:#3498db
}

.content-blue .top-header .description {
color:#4b4b4b
}

.content-blue .content-boxes .content-box i {
color:#4b4b4b
}

.content-blue .content-boxes .content-box .icon-circle {
color:#4b4b4b
}

.content-blue .content-boxes .content-box .icon-circle:hover {
color:#3498db
}

.content-blue .content-boxes .content-box .title {
color:#4b4b4b
}

.content-purple {
background-color:#fff
}

.content-purple .top-header .title {
color:#8e44ad
}

.content-purple .top-header .description {
color:#4d4d4d
}

.content-purple .content-boxes .content-box .title {
color:#4b4b4b
}

.content-purple .content-boxes .content-box .description {
color:#4b4b4b
}

.footer-dark-blue .footer-message-menus-copyright-social {
color:#fff;
background:#015B7E
}

.footer-dark-blue .footer-subscribe {
background:#F9F9F9
}

.footer-dark-blue .footer-subscribe .subscribe-form-submit {
background-color:#015B7E;
border-color:#015B7E
}

.footer-dark-blue .footer-subscribe #contact_email {
border-color:#015B7E;
color:#535353
}

.footer-dark-blue .footer-subscribe .subscribe-form-submit,.footer-dark-blue .footer-menu ul li a,.footer-dark-blue h1,.footer-dark-blue h2,.footer-dark-blue h3,.footer-dark-blue h4,.footer-dark-blue h5,.footer-dark-blue h6 {
color:#fff
}

.footer-dark-blue .footer-copyright-menu-social {
border-top-color:#21708f
}

.footer-dark-blue .footer-social .block-content .follow-link-wrapper i {
color:#34495E
}

.footer-dark-blue .footer-social .block-content .follow-link-wrapper i:before {
color:#fff
}

.footer-dark-blue .footer-social .block-content .follow-link-wrapper i:hover:before {
color:#21708f
}

.navbar-default .btn-default {
color:#333;
background-color:#FFF;
border-color:#fff
}

.btn-default {
color:#333;
background-color:#FFF;
border-color:#34495e
}

.btn-default:hover {
color:#fff;
background-color:#1d2935;
border-color:#34495e
}

h1,h2,h3 {
color:#34495e
}

h4,h5,h6 {
color:#4b4b4b
}

.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {
color:#555;
background-color:#e1e5e8
}

.dropdown-menu > li > a:hover {
background-color:#e1e5e8
}

.navbar-default {
background-color:#67788a!important
}

.navbar-default .navbar-brand {
color:#fff
}

.navbar-default .navbar-brand:hover {
color:#e1e5e8
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus {
color:#555;
background-color:#e1e5e8
}

.navbar-default .navbar-nav > li > a {
color:#fff
}

.btn-default.disabled {
background-color:#FFF;
border-color:#34495e
}

.btn-primary.disabled {
background-color:#34495e;
border-color:#34495e
}

.navbar-default .navbar-nav > li > a:hover {
color:#e1e5e8
}

blockquote {
border-left-color:#e1e5e8
}

blockquote.pull-right {
border-right-color:#e1e5e8
}

.well {
background-color:#e1e5e8;
border-color:#34495e
}

.breadcrumb .fa {
color:#4b4b4b
}

.breadcrumb a {
color:#303030
}

.breadcrumb > .active {
color:#34495e
}

.nav-pills > li.active > a,.nav-pills > li.active > a:hover,.nav-pills > li.active > a:focus {
color:#FFF;
background-color:#34495e
}

.nav-pills > .active > a > .badge {
color:#FFF;
background-color:#1d2935
}

.badge {
color:#FFF;
background-color:#1d2935
}

.nav-pills > li > a:hover {
background-color:#e1e5e8
}

.progress {
background-color:#e1e5e8;
border:transparent
}

.jumbotron {
background-color:#e1e5e8
}

.btn-primary {
color:#fff;
background-color:#34495e;
border-color:#34495e
}

.nav-tabs > li > a:hover {
background-color:#e1e5e8
}

.pagination > .active > a {
background-color:#34495e;
border-color:#34495e
}

.pagination > .active > a:hover {
background-color:#1d2935;
border-color:#1d2935
}

.pagination > li > a:hover {
background-color:#e1e5e8
}

.pager > li > a:hover {
background-color:#e1e5e8
}

.btn-primary:hover {
color:#fff;
background-color:#1d2935;
border-color:#1d2935
}

.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus {
background-color:#34495e;
border-color:#34495e
}

.list-group-item {
background-color:#FFF;
border-color:#34495e
}

.list-group-item:hover {
background-color:#e1e5e8
}

a.list-group-item:hover {
background-color:#e1e5e8
}

.panel-default {
border-color:#34495e
}

.panel-primary>.panel-heading {
color:#fff;
background-color:#34495e;
border-color:#34495e
}

.panel-primary {
border-color:#34495e
}

.label-primary {
background-color:#34495e
}

.panel-default>.panel-heading {
color:#333;
background-color:#e1e5e8;
border-color:#e1e5e8
}

.panel-footer {
background-color:#e1e5e8;
border-top-color:#e1e5e8
}

.sidebar h2,.sidebar h3 {
color:#fff;
background-color:#667789
}

.header-navyblue-slider-menu {
background-color:#5E7182
}

.header-navyblue-slider-menu .dropdown-menu {
background-color:#5e7182;
border-color:#5e7182;
border-color:#5e7182
}

.header-navyblue-slider-menu nav {
background-color:#5E7182
}

.header-navyblue-slider-menu .navbar-nav>li>a {
color:#fff
}

.header-navyblue-slider-menu .dropdown-menu > li > a {
color:#fff
}

.header-navyblue-slider-menu .navbar-nav>li>a:focus,.header-navyblue-slider-menu .navbar-nav>li>a:hover,.header-navyblue-slider-menu .navbar-nav>li>a.active,.header-navyblue-slider-menu .navbar-nav>li.open {
color:#98adc1;
background:transparent
}

.header-navyblue-slider-menu .navbar-nav .dropdown a:focus,.header-navyblue-slider-menu .navbar-nav .dropdown a:hover,.header-navyblue-slider-menu .navbar-nav .dropdown a.active {
color:#98adc1;
background:transparent
}

.header-navyblue-slider-menu .navbar-toggle .icon-bar {
background-color:#fff
}

.header-navyblue-slider-menu .navbar-toggle {
background-color:#34495E
}

.carousel-homeslider-header-navyblue-slider .carousel-indicators li {
background-color:#9DADBC
}

.carousel-homeslider-header-navyblue-slider .carousel-indicators li.active {
background-color:#34495E
}

.carousel-homeslider-header-navyblue-slider .carousel-caption .title {
color:#33495E
}

.carousel-homeslider-header-navyblue-slider .carousel-caption .cta-button {
color:#fff;
background:#33495E;
border-color:#fff
}

.header-navyblue-slider-menu .navbar-scrolled {
background-color:#5E7182
}

@media (max-width: 767px) {
.header-navyblue-menu .navbar-toggle {
border-color:transparent;
background-color:transparent
}

.header-navyblue-slider-menu ul.navbar-nav {
background-color:#5E7182;
border-color:#5E7182
}

.header-navyblue-menu .navbar-nav > li > a:hover {
color:#fff
}

.header-navyblue-slider-menu .dropdown-menu>li>a,.header-navyblue-slider-menu .dropdown-menu>li>a:hover,.header-navyblue-slider-menu .dropdown-menu>li>a.active,.header-navyblue-menu #navigation ul > li .active {
color:#fff
}

.header-navyblue-menu .nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
background-color:#5e7182;
border-color:#fff
}

.header-navyblue-slider-menu .navbar-nav .dropdown a:focus,.header-navyblue-slider-menu .navbar-nav .dropdown a:hover,.header-navyblue-slider-menu .navbar-nav .dropdown a.active {
color:#98adc1
}

.header-navyblue-slider-menu .navbar-nav > li > a:hover {
color:#98adc1
}

.header-navyblue-slider-menu .navbar-default .navbar-collapse,.navbar-default .navbar-form {
border-color:transparent
}

.header-navyblue-slider-menu .nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
background-color:#5e7182
}

.header-navyblue-slider-menu .navbar-scrolled .navbar-nav>.open>a,.header-navyblue-slider-menu .navbar-scrolled.navbar-nav>.active>a {
background-image:none;
-webkit-box-shadow:none;
box-shadow:none
}

.header-navyblue-slider-menu .navbar-scrolled .navbar-toggle:hover,.header-navyblue-slider-menu .navbar-scrolled .navbar-toggle:focus {
background-color:#34495E
}

.header-navyblue-slider-menu .navbar-scrolled .navbar-nav .open .dropdown-menu>li>a {
color:#fff
}

.header-navyblue-slider-menu .navbar-scrolled .navbar-nav .open .dropdown-menu>li>a:hover {
color:#98adc1
}
}

.stat-stats-white .title h2 {
color:#4B4B4B;
border-bottom-color:#af7ac4
}

.stat-stats-white .stat-icon {
color:#AF79C4
}

.stat-stats-white .stat-desc {
color:#4b4b4b
}

.stat-stats-white .stat-label {
color:#4b4b4b
}

.stat-stats-white .stat-running-number {
color:#4B4B4B
}

.price-pricetable-blue {
background-color:#fff
}

.price-pricetable-blue .price-box:hover .price-header,.price-pricetable-blue .price-box:hover .price-features {
background-color:#5E9CEA
}

.price-pricetable-blue h2,.price-pricetable-blue h3 {
color:#5E9CEA
}

.price-pricetable-blue .price-desc {
color:#4b4b4b
}

.price-pricetable-blue .price-box:hover h3,.price-pricetable-blue .price-box:hover .price-features-list {
color:#fff
}

.price-pricetable-blue .price-box:hover .price-features {
border-top-color:#F9F9F9
}

.price-pricetable-blue .btn {
background-color:#5E9CEA;
color:#fff
}

.price-pricetable-blue .price-box:hover .btn {
background-color:#fff;
color:#5E9CEA
}

.price-pricetable-blue .price-header {
background-color:#EBEBEB
}

.price-pricetable-blue .price-features {
background-color:#F9F9F9
}

.price-pricetable-blue .price-price {
border-color:#5E9CEA;
background:#fff
}

.price-pricetable-blue .price-price .price-cost {
color:#5E9CEA
}

.testimonial-dark-blue {
background-color:#F3F3F3;
color:#2D3B48
}

.testimonial-dark-blue h2 {
color:#2f4255
}

.testimonial-dark-blue .inner-box {
background-color:#fff
}

.testimonial-dark-blue .testi-name-designation {
color:#2f4255
}

.mobile-carousel-controls span {
color:#fff;
background-color:#2F4155
}

.mobile-carousel-controls span:hover {
background:#353535
}

.blog-blue {
background-color:#fff
}

.blog-blue h2 {
color:#3598db
}

.blog-blue .view-header .desc {
color:#4b4b4b
}

.blog-blue .view-header .blog-readmore a {
color:#3598db
}

.blog-blue .view-content {
color:#555
}

.blog-blue .view-content .blog-title a {
color:#222
}

.blog-blue .view-content .comments-count {
color:#4b4b4b
}

.blog-blue .view-content .posted-date {
color:#4b4b4b
}

.blog-blue .mobile-carousel-controls span {
color:#fff;
background-color:#3698D9
}

.blog-blue .mobile-carousel-controls span:hover {
background-color:#353535
}

.team-blue {
background-color:#fff
}

.team-blue .team-header {
color:#333
}

.team-blue .team-header h2 {
color:#5d9cec
}

.team-blue .team-header .desc {
color:#4b4b4b
}

.team-blue .team-content {
background-color:#fff
}

.team-blue .team-name {
color:#5d9cec
}

.team-blue .team-designation {
color:#4b4b4b
}

.team-blue .team-body {
color:#4b4b4b
}

.team-blue .team-social a {
color:#BEBEBE
}

.team-blue .team-social li:hover a {
color:#5d9cec
}

.mobile-carousel-controls span {
color:#fff;
background-color:#5F9AEE
}

.mobile-carousel-controls span:hover {
background-color:#353535;
color:#fff
}

.portfolio-green {
background-color:#2C3D4F
}

.portfolio-green .portfolio-header,.portfolio-green h1,.portfolio-green h2,.portfolio-green h3,.portfolio-green h4,.portfolio-green h5 {
color:#fff
}

.portfolio-green #mixitup-options ul.option-set li {
color:#fff
}

.portfolio-green #mixitup-options ul.option-set li.active,.portfolio-green #mixitup-options ul.option-set li:hover {
background-color:#29CB71;
color:#fff
}

.portfolio-green .mix:hover .portf-hover {
background-color:#29CB71
}

.portfolio-green .portf-hover-inner a {
border-color:#fff;
color:#fff
}

.portfolio-green .portf-hover-inner a:hover {
background-color:#fff;
color:#2FCB6D
}

.mobile-carousel-controls span {
color:#fff;
background-color:#29CB71
}

.mobile-carousel-controls span:hover {
background-color:#fff;
color:#29CB71
}

.contact-grey {
background-color:#2d3e50;
color:#fff
}

.contact-grey h2,.contact-grey h3,.contact-grey h4,.contact-grey h5,.contact-grey h6 {
color:#fff
}

.contact-grey .form-control {
background-color:#364656;
border-color:#364656;
color:#fff
}

.contact-grey .btn {
background-color:#139F86;
color:#fff
}

.contact-grey address {
border-bottom-color:#B0BCC8
}

.contact-grey address span {
color:#139F86
}

.contact-grey address span a,.contact-grey address span a:hover,.contact-grey address span a:visited {
color:#139F86
}

.contact-grey .input-lg::-webkit-input-placeholder {
color:#fff
}

.contact-grey .input-lg:-moz-placeholder {
color:#fff
}

.contact-grey .input-lg::-moz-placeholder {
color:#fff
}

.contact-grey .input-lg:-ms-input-placeholder {
color:#fff
}