@media (min-width: 768px) and (max-width: 1169px) {
.content-light-blue .content-boxes .content-box .icon-circle {
border-radius:26px;
font-size:1.6em;
height:52px;
line-height:54px;
width:52px
}

.content-light-blue .content-boxes .content-lists .icon-circle {
border-radius:13px;
font-size:.9em;
height:26px;
line-height:26px;
margin-right:10px;
width:26px
}

.content-light-blue .content-box ul li {
font-size:1.1em;
padding-bottom:13px
}
}

@media (max-width: 767px) {
.content-light-blue {
padding-top:6px;
padding-bottom:6px
}

.content-light-blue .content-boxes .top-header .title {
font-size:2em;
margin-left:10px
}

.content-light-blue .content-boxes .top-header .description {
margin-left:10px;
margin-bottom:11px
}

.content-light-blue .content-boxes .content-box .icon-circle {
border-radius:25px;
font-size:1.5em;
height:50px;
line-height:50px;
width:50px;
margin-top:6px;
margin-left:10px
}

.content-light-blue .content-box .description {
margin-bottom:10px
}

.content-light-blue .content-boxes .content-box {
margin-top:5px
}

.content-light-blue .content-boxes .content-lists .icon-circle {
border-radius:10px;
font-size:.9em;
height:20px;
line-height:21px;
margin-top:7px;
width:20px;
margin-left:10px
}

.content-light-blue .content-box ul li {
font-size:1em;
padding-bottom:12px
}

.content-blue {
padding-top:7px;
padding-right:7px
}

.content-blue .top-header .title {
font-size:1.7em;
margin-bottom:5px
}

.content-blue .top-header .description {
margin-bottom:28px
}

.content-blue .content-boxes .content-box .icon-circle {
margin-bottom:0
}

.content-blue .content-boxes .content-box .title {
margin-bottom:8px
}

.content-blue .content-boxes .content-box .description {
margin-top:0;
margin-bottom:25px
}

.content-purple {
padding-top:7px;
padding-bottom:7px
}

.content-purple .top-header .title {
margin-bottom:8px;
margin-left:5px;
margin-right:5px
}

.content-purple .top-header .description {
font-size:1.14em;
margin-bottom:14px;
margin-left:10px;
margin-right:10px
}

.content-purple .content-boxes .content-box .title {
font-size:1.4em;
margin-bottom:6px
}

.content-purple .content-boxes .content-box .description {
font-size:1.1em;
margin-bottom:11px
}

.footer-dark-blue {
padding-top:30px;
padding-bottom:10px
}

.footer-dark-blue .footer-subscribe {
padding-top:0;
padding-bottom:30px
}

.footer-dark-blue .footer-blocks .title h2,.footer-dark-blue .footer-blocks .block-title {
margin-bottom:0;
margin-top:13px
}

.footer-dark-blue .footer-copyright .block-content {
text-align:center
}

.footer-dark-blue .footer-blocks .footer-menu .sidebar-menu {
padding-top:0
}

.footer-dark-blue .footer-message {
padding-bottom:0;
padding-left:30px
}

.footer-dark-blue .footer-message .block-content {
text-align:center;
margin-bottom:5px
}

.footer-dark-blue .footer-blocks .title h2,.footer-dark-blue .footer-blocks .block-title {
margin-top:19px;
text-align:center
}

.footer-dark-blue .footer-blocks .footer-menus {
text-align:center
}

.footer-dark-blue .subscribe-form-input {
display:inline-block;
text-align:center;
width:100%
}

.footer-dark-blue .footer-subscribe #contact_email {
width:90%;
text-align:center;
display:inline-block;
margin-bottom:30px;
margin-right:0
}

.footer-dark-blue .footer-subscribe .subscribe-form-submit {
width:90%;
text-align:center
}

.footer-dark-blue .footer-copyright,.footer-dark-blue .footer-follow-wrap {
text-align:center
}

.footer-dark-blue .footer-copyright-menu-social .footer-menu {
text-align:center
}

.footer-dark-blue .footer-social {
padding-top:20px
}

.footer-dark-blue .footer-message-menus-copyright-social {
padding-top:17px;
padding-bottom:12px
}

.footer-dark-blue .footer-copyright-menu-social {
padding-top:5px
}

.header-navyblue-slider-menu .site-logo-name {
margin-top:10px
}

.carousel-homeslider-header-navyblue-slider .carousel-caption {
bottom:auto;
top:0
}

.carousel-homeslider-header-navyblue-slider .carousel-indicators {
bottom:auto;
top:20%
}

.carousel-homeslider-header-navyblue-slider .carousel-caption .desc {
font-size:1em;
margin-bottom:10px
}

.carousel-homeslider-header-navyblue-slider .carousel-caption .title {
font-size:2.3em;
margin-bottom:5px;
margin-top:5px
}

.carousel-homeslider-header-navyblue-slider .carousel-caption .cta-button {
padding:5px 15px;
font-size:1em
}

.view-q-homeslider-header-navyblue-slider {
margin-top:60px
}

.header-navyblue-slider-menu nav {
opacity:1!important
}

.header-navyblue-menu .navbar-nav > li > a {
border-right:none;
padding:10px
}

.header-navyblue-slider-menu .dropdown-menu>li>a,.header-navyblue-slider-menu .dropdown-menu>li>a:hover,.header-navyblue-slider-menu .dropdown-menu>li>a.active,.header-navyblue-menu #navigation ul > li .active {
padding:10px
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
border-color:none
}

.carousel-homeslider-header-navyblue-slider .carousel-indicators li {
width:13px;
height:13px
}
}

@media (min-width: 768px) and (max-width: 992px) {
.carousel-homeslider-header-navyblue-slider .carousel-indicators {
bottom:17%
}

.carousel-homeslider-header-navyblue-slider .carousel-caption {
top:18%
}
}

@media (max-width: 768px) {
.stat-stats-white {
padding-top:6px;
padding-bottom:6px
}

.stat-stats-white .title h2 {
font-size:3em;
padding-bottom:7px;
margin-bottom:0
}

.stat-stats-white .stat-stat {
padding:0
}

.stat-stats-white .stat-running-number {
margin-top:0
}

.stat-stats-white .stat-desc {
margin-top:6px;
margin-bottom:25px
}

.price-pricetable-blue {
margin-top:8px;
margin-bottom:0
}

.price-pricetable-blue h2 {
font-size:30px
}

.price-pricetable-blue .price-desc {
font-size:16px
}

.price-pricetable-blue .price-table {
margin-top:0
}

.price-pricetable-blue .price-box {
margin-top:20px;
margin-bottom:15px
}
}

@media (min-width: 769px) and (max-width: 992px) {
.price-pricetable-blue .price-box {
margin-top:0;
margin-bottom:30px
}
}

@media (max-width: 768px) {
.testimonial-dark-blue {
padding-top:7px;
padding-bottom:10px
}

.testimonial-dark-blue .container {
padding-right:0;
padding-left:0
}

.testimonial-dark-blue h2 {
font-size:28px
}

.testimonial-dark-blue .testi-body {
padding-top:7px;
font-size:11px;
line-height:18px;
padding-bottom:3px
}

.testimonial-dark-blue .testi-name-designation {
font-size:16px
}

.testimonial-dark-blue .testi-name-designation span {
font-size:10px;
letter-spacing:.4px
}

.testimonial-light-blue .carousel-inner {
padding-bottom:100px
}

.testimonial-light-blue .carousel-inner .item {
margin:0
}
}

@media (max-width: 768px) {
.blog-blue {
padding-top:23px;
padding-bottom:26px
}

.blog-blue h2 {
font-size:32px
}

.blog-blue .view-header .desc {
padding-bottom:0
}

.blog-blue .view-header,.blog-blue .blog-readmore {
text-align:center
}
}

@media (min-width: 769px) and (max-width: 992px) {
.blog-blue {
padding-bottom:20px
}

.blog-blue .view-content .blog-title,.blog-blue .view-content .meta-info {
padding-bottom:26px
}
}

@media (min-width: 993px) and (max-width: 1200px) {
.blog-blue .view-content .blog-title a {
font-size:18px
}

.blog-blue .view-content .comments-count {
font-size:12px;
padding-left:0
}

.blog-blue .view-content .posted-date {
font-size:12px
}
}

@media (max-width: 768px) {
.team-blue {
padding-top:25px;
padding-bottom:0
}

.team-blue .team-header h2 {
font-size:25px;
font-size:normal;
padding-left:5px
}

.team-blue .team-header .desc {
font-size:15px;
padding:9px 5px
}

.team-blue .team-header .desc p {
margin:0 0 11px
}

.team-blue .carousel-inner {
width:100%;
margin:0
}

.mobile-carousel-controls {
padding:20px;
padding-top:0
}

.team-red .carousel-inner .item {
margin:0
}

.team-red .team-name {
font-size:23px
}

.team-red .team-designation {
font-size:17px
}

.team-red .team-header {
margin-bottom:0
}

.team-red .team-inner {
padding:0
}
}

@media (max-width: 768px) {
.portfolio-green {
padding-top:26px;
padding-bottom:30px
}

.portfolio-green h2 {
font-size:34px;
margin-bottom:10px
}

.portfolio-green .desc {
margin-left:0;
width:100%;
padding-bottom:10px
}

.portfolio-green .carousel-inner {
padding:0;
margin:0
}

.portfolio-green .carousel-inner .item {
margin:0
}

.portfolio-green .team-inner {
padding:0
}

.portfolio-green .mix {
padding:0
}
}

@media (min-width: 993px) and (max-width: 1200px) {
.portfolio-green .portf-hover-inner a {
width:60%
}
}

@media (max-width: 767px) {
.contact-grey {
padding-top:30px;
padding-bottom:33px
}

.contact-grey h3 {
padding-bottom:16px
}

.contact-grey .form-group {
margin-bottom:30px
}

.contact-grey .btn {
width:100%
}
}