/* overrides the default bootstrap CSS */
.btn,.form-control,.input-group-addon,.nav-tabs>li>a,.nav-pills>li>a,.breadcrumb,.pagination>li:last-child>a,.pagination>li:last-child>span,.alert,.label,.progress,.container .jumbotron,.container-fluid .jumbotron,.img-thumbnail,code,pre,kbd,.input-sm,.form-group-sm .form-control,.input-lg,.form-group-lg .form-control,.btn-link,.btn-lg,.btn-group-lg > .btn,.btn-sm,.btn-group-sm > .btn,.btn-xs,.btn-group-xs > .btn,.dropdown-menu,.btn-group-vertical > .btn:first-child:not(:last-child),.btn-group-vertical > .btn:last-child:not(:first-child),.input-group-lg > .form-control,.input-group-lg > .input-group-addon,.input-group-lg > .input-group-btn > .btn,.input-group-sm > .form-control,.input-group-sm > .input-group-addon,.input-group-sm > .input-group-btn > .btn,.input-group-addon,.input-group-addon.input-sm,.input-group-addon.input-lg,.nav-tabs > li > a,.nav-tabs.nav-justified > li > a {
border-radius:0
}

.breadcrumb {
margin-bottom:0;
padding:8px 0
}

.dropdown-menu {
border-radius:0;
box-shadow:none
}

.navbar-toggle {
margin-top:0
}

@media (min-width: 768px) {
.nav-tabs.nav-justified > li > a,.navbar,.navbar-static-top,.navbar-fixed-top,.navbar-fixed-bottom,.navbar-toggle,.navbar-toggle .icon-bar,.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu,.nav-pills > li > a,.nav-tabs-justified > li > a {
border-radius:0
}
}

.breadcrumb,.pagination,.pagination > li:first-child > a,.pagination > li:first-child > span,.pagination > li:last-child > a,.pagination > li:last-child > span,.pagination-lg > li:first-child > a,.pagination-lg > li:first-child > span,.pagination-lg > li:last-child > a,.pagination-lg > li:last-child > span,.pagination-sm > li:first-child > a,.pagination-sm > li:first-child > span,.pagination-sm > li:last-child > a,.pagination-sm > li:last-child > span,.pager li > a,.pager li > span,.label,.badge,.container .jumbotron,.container-fluid .jumbotron,.thumbnail,.alert,.progress,.list-group-item:first-child,.list-group-item:last-child,.panel,.panel-heading,.panel-footer,.panel > .list-group:first-child .list-group-item:first-child,.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child,.panel > .list-group:last-child .list-group-item:last-child,.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child,.panel > .table:first-child,.panel > .table-responsive:first-child > .table:first-child,.panel > .table:first-child > thead:first-child > tr:first-child,.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,.panel > .table:first-child > tbody:first-child > tr:first-child,.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child,.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child,.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child,.panel > .table:last-child,.panel > .table-responsive:last-child > .table:last-child,.panel > .table:last-child > tbody:last-child > tr:last-child,.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,.panel > .table:last-child > tfoot:last-child > tr:last-child,.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child,.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child,.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child,.panel-group .panel,.well,.well-lg,.well-sm,.modal-content,.tooltip-inner,.popover,.popover-title,.carousel-indicators li {
border-radius:0
}

.btn,.btn:hover,.alert,.panel-title,.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus,.panel-primary>.panel-heading,.carousel-control.left,.carousel-control.right {
background-image:none
}

body {
font-family:roboto
}

.breadcrumb > li + li::before {
content:none
}

.breadcrumb li,.breadcrumb li.active {
text-transform:uppercase;
font-size:15px
}

.navbar-nav .fa {
float:right;
margin-left:7px;
padding-top:0;
font-size:1.3em
}

.dropdown:hover>.dropdown-menu {
display:block
}

.dropdown-submenu {
position:relative
}

.dropdown-submenu>.dropdown-menu {
top:0;
left:100%;
margin-top:-6px;
margin-left:-1px;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0
}

.dropdown-submenu:hover>.dropdown-menu {
display:block
}

.dropdown-submenu:hover>a:after {
border-left-color:#fff
}

.dropdown-submenu.pull-left {
float:none
}

.dropdown-submenu.pull-left>.dropdown-menu {
left:-100%;
margin-left:10px;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0
}

.navbar-inverse #navigation {
border:none;
width:300px;
float:right;
background:#48D89B;
padding:15px;
margin-right:15px;
padding-top:0;
margin-top:-20px
}

.navbar-inverse .navbar-header {
float:none
}

.navbar-inverse a .fa,.navbar-inverse .dropdown .fa {
display:none!important
}

@media (max-width: 750px) {
.dropdown-menu {
position:relative;
display:block;
box-shadow:none;
border-radius:0;
width:100%;
background:transparent;
border:none
}

.dropdown-submenu>.dropdown-menu {
top:0;
left:0
}

#collapse-navigation {
max-height:100%
}

.navbar-nav li a.
.navbar-nav > li > a {
padding:10px;
font-weight:700
}

.navbar-nav > li > a:focus,.navbar-nav > li > a:hover,.navbar-nav > li > a.active,.navbar-nav li a:focus,.navbar-nav li a:hover,.navbar-nav li a.active,.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover,.dropdown-menu>li>a.active {
border-left:5px solid #fff;
color:#fff;
background-color:transparent
}

.navbar-nav a .fa,.dropdown .fa {
display:none!important
}
}

.sidebar .nav > li > a {
font-size:18px;
padding:3px 10px
}

.sidebar .block {
margin-bottom:10px
}

section.main-container {
padding-top:30px;
padding-bottom:30px
}

h1.page-title {
margin-top:0;
font-size:34px
}

section.main-container p {
font-size:16px;
line-height:170%
}

.sidebar .block-content {
padding:10px
}

.sidebar h2,.sidebar h3 {
margin:0;
padding:10px;
font-size:22px
}

.article-block h2,.article-block h3 {
padding-bottom:10px
}

.underline {
border-bottom:1px solid
}

.img-fullwidth {
width:100%
}

.google-map-wrap {
overflow:hidden;
height:320px;
width:100%;
margin-bottom:20px
}

#gmap_canvas {
height:320px;
width:100%
}

.contact-page-v4 .google-map-wrap,.contact-page-v4 #gmap_canvas {
height:130px
}

ul.contact-list li {
margin-bottom:5px;
padding:5px 0
}

ul.contact-list li .fa {
width:30px
}

.follow-links li a {
font-size:20px
}

.follow-links {
margin-top:10px
}

.follow-links.icon-border li a {
border:1px solid;
padding:0 5px;
width:30px;
display:block;
text-align:center;
height:30px
}

.follow-links.follow-texts li {
margin-bottom:3px;
padding:0;
height:30px
}

.follow-links.follow-texts li a {
font-size:15px;
padding-left:10px
}

.follow-links.follow-texts li .fa {
width:40px;
height:30px;
padding:0;
margin:0;
text-align:center;
padding-top:8px
}

.blog-meta-data {
padding:10px 0
}

.blog-posted {
margin-left:20px
}

.blog-comments {
margin-bottom:30px
}

.comment-item {
margin-top:20px
}

.comment-item .comment-item {
margin-left:60px
}

.comment-item>a {
margin-right:15px
}

.blog-detail-v2 .blog-meta-data {
padding:5px 10px;
margin-top:10px
}

.blog-detail-v2 .comment-heading {
padding:5px 10px;
border:1px dotted;
margin-bottom:5px
}

.blog-detail-v3 .latest-blogs ul li {
clear:both;
padding-bottom:5px;
margin-bottom:10px;
float:left;
width:100%
}

.blog-detail-v3 .latest-blogs ul li>a {
margin-right:10px
}

.content-light-blue {
font-family:'Roboto',sans-serif;
padding-top:26px;
padding-bottom:26px
}

.content-light-blue .content-boxes .top-header {
margin-right:15px
}

.content-light-blue .content-boxes .top-header .title {
font-size:2.3em;
font-weight:400
}

.content-light-blue .content-boxes .top-header .description {
font-size:1.1em;
font-weight:400
}

.content-light-blue .content-boxes .content-box {
border-top:1px solid;
margin-right:15px;
margin-top:18px;
padding-top:15px
}

.content-light-blue .content-boxes .content-box .icon-circle {
border-radius:39px;
display:inline-block;
font-size:2.6em;
height:78px;
line-height:80px;
text-align:center;
width:78px;
margin-top:10px;
margin-bottom:6px
}

.content-light-blue .content-box .title {
font-size:1.5em;
font-weight:400;
margin-bottom:3px
}

.content-light-blue .content-box .description {
font-size:1.05em;
font-weight:400
}

.content-light-blue .content-boxes .content-lists .icon-circle {
border-radius:15px;
font-size:1em;
height:28px;
line-height:30px;
margin-right:10px;
width:28px
}

.content-light-blue .content-box ul {
margin:0;
padding:0
}

.content-light-blue .content-box ul li {
font-size:1.3em;
font-weight:400;
list-style:outside none none;
padding-bottom:20px
}

.content-blue {
font-family:'Roboto',sans-serif;
padding-top:26px;
padding-bottom:26px
}

.content-blue .top-header .title {
font-size:2em;
font-weight:400;
margin-bottom:1px
}

.content-blue .top-header .description {
font-size:1.2em;
margin-bottom:46px
}

.content-blue .content-boxes .content-box i {
font-size:3.7em;
margin:auto;
padding-top:5px
}

.content-blue .content-boxes .content-box .icon-circle {
border-radius:48px;
display:inline-flex;
height:96px;
width:96px;
border:2px solid;
margin-bottom:6px
}

.content-blue .content-boxes .content-box .title {
font-size:1.5em;
font-weight:400;
margin-top:10px;
margin-bottom:13px
}

.content-blue .content-boxes .content-box .description {
font-size:1em;
line-height:170%
}

.content-purple {
font-family:'Roboto',sans-serif;
padding-top:26px;
padding-bottom:26px
}

.content-purple .top-header .title {
font-size:2.34em;
font-weight:400;
margin-bottom:5px
}

.content-purple .top-header .description {
font-size:1.3em;
margin-bottom:21px
}

.content-purple .content-boxes .content-box .title {
font-size:1.83em;
font-weight:400;
margin-bottom:16px
}

.content-purple .content-boxes .content-box .description {
font-size:1.2em;
margin-bottom:28px
}

.footer-dark-blue .footer-message-menus-copyright-social {
font-family:'Roboto',sans-serif;
padding-top:40px;
padding-bottom:17px
}

.footer-dark-blue .footer-subscribe {
padding-top:45px;
padding-bottom:42px
}

.footer-dark-blue .footer-subscribe .subscribe-form-submit {
background:#015B7E;
border:2px solid;
border-radius:0;
font-size:1.5em;
height:46px;
font-weight:lighter;
padding:7px 4px
}

.footer-dark-blue .footer-subscribe #contact_email {
width:60%;
border:1px solid;
margin-right:5%;
border-radius:0;
font-size:1.2em
}

.footer-dark-blue .footer-subscribe .subscribe-form-submit {
width:33.33%
}

.footer-dark-blue .footer-message {
padding-bottom:30px
}

.footer-dark-blue .footer-message h2.title {
margin-top:0;
margin-bottom:0;
font-size:24px;
font-weight:400
}

.footer-dark-blue .footer-message .block-content {
font-size:1em;
font-weight:400;
text-align:left;
padding-right:10%;
line-height:1.6em
}

.footer-dark-blue .footer-blocks {
padding-top:10px;
padding-bottom:7px
}

.footer-dark-blue .footer-menus {
padding-left:0
}

.footer-dark-blue .footer-menu ul li {
background:transparent
}

.footer-dark-blue .footer-menu ul li a {
font-size:1.1em;
background:transparent;
font-weight:400;
padding:1px;
margin-bottom:2px
}

.footer-dark-blue .footer-copyright-menu-social .footer-menu ul li a {
font-size:1em;
line-height:2em;
margin-right:10px
}

.footer-dark-blue .footer-menu ul li a:hover {
text-decoration:underline
}

.footer-dark-blue .footer-blocks .title h2,.footer-dark-blue .footer-blocks .block-title {
font-size:1.7em;
font-weight:400;
margin-top:0;
margin-bottom:10px
}

.footer-dark-blue .footer-copyright {
padding-top:0;
padding-bottom:0;
padding-left:0
}

.footer-dark-blue .footer-copyright h2.title {
font-size:1.2em;
font-weight:lighter;
margin-bottom:25px
}

.footer-dark-blue .footer-copyright .block-content {
line-height:2em;
font-size:1em;
font-weight:400
}

.footer-dark-blue .footer-copyright-menu-social {
border-top:1px solid;
padding-top:27px
}

.footer-dark-blue .footer-copyright-menu-social ul li i {
padding-right:10px;
font-size:1em;
padding-top:5px;
font-weight:400
}

.footer-dark-blue .footer-copyright-menu-social .footer-menu {
padding-left:0
}

.footer-dark-blue .footer-social {
padding-right:0
}

.footer-dark-blue .footer-social .block-content .follow-link-wrapper i {
padding-left:0;
width:20px;
text-align:center;
padding-top:0;
background:none;
height:35px;
margin-right:0;
padding-top:0
}

.footer-dark-blue .footer-social .block-content .follow-link-wrapper i:hover {
text-decoration:none
}

.footer-dark-blue .footer-social .block-content {
display:inline-block;
padding-top:0
}

.footer-dark-blue .footer-social .block-content .follow-link-wrapper i:before {
font-size:1.3em;
font-weight:lighter;
font-family:FontAwesome;
text-align:center;
padding-left:3px
}

.header-navyblue-slider-menu {
font-family:roboto
}

.header-navyblue-slider-menu .site-logo-name {
margin-top:10px
}

.header-navyblue-slider-menu .dropdown-menu {
min-width:200px;
border:1px solid;
border:1px solid
}

.header-navyblue-slider-menu .dropdown-menu .dropdown-menu {
border-left:4px solid transparent
}

.header-navyblue-slider-menu .dropdown-menu > li > a {
font-size:1.2em;
font-weight:400
}

.header-navyblue-slider-menu #nav.affix {
position:fixed;
top:0;
width:100%;
z-index:10
}

.header-navyblue-slider-menu nav {
max-height:60px;
margin-top:0;
margin-bottom:0;
opacity:.95
}

.header-navyblue-slider-menu .navbar-nav>li {
margin-top:15px
}

.header-navyblue-slider-menu .navbar-nav>li>a {
font-size:1.2em;
text-shadow:none;
font-weight:400;
padding:5px 10px
}

.header-navyblue-slider-menu #navigation {
border:none;
min-height:1px;
z-index:1000
}

.header-navyblue-slider-menu .site-name-logo {
margin-top:20px
}

.header-navyblue-slider-menu .navbar-toggle {
border-radius:0
}

.view-q-homeslider-header-navyblue-slider {
font-family:roboto;
font-weight:400
}

.carousel-homeslider-header-navyblue-slider .carousel-indicators {
bottom:31%;
right:45px;
left:auto;
width:auto
}

.carousel-homeslider-header-navyblue-slider .carousel-indicators li {
border-radius:0;
width:16px;
height:16px;
border:none;
margin-bottom:10px;
float:left;
clear:both;
margin-left:0;
margin-right:0
}

.carousel-homeslider-header-navyblue-slider .carousel-inner>.item>img {
width:100%
}

.carousel-homeslider-header-navyblue-slider .carousel-indicators li.active {
margin-left:0;
margin-right:0
}

.carousel-homeslider-header-navyblue-slider .carousel-caption .title {
font-size:3.5em;
font-weight:400;
text-shadow:none;
margin-bottom:20px
}

.carousel-homeslider-header-navyblue-slider .carousel-caption .desc {
font-size:2em;
display:block;
margin-bottom:25px;
font-weight:400;
text-shadow:none
}

.carousel-homeslider-header-navyblue-slider .carousel-caption .cta-button {
border-radius:0;
padding:10px 30px;
border:2px solid;
text-shadow:none
}

.carousel-homeslider-header-navyblue-slider .carousel-caption {
top:32%
}

.header-navyblue-slider-menu .navbar-scrolled {
border:none;
background-image:none;
border-radius:0;
opacity:.95
}

.pie_progress {
text-align:center;
position:relative;
transform-style:preserve-3d
}

.pie_progress svg {
margin:0 auto
}

.pie_progress__content,.pie_progress__number,.pie_progress__label,.pie_progress__icon {
width:100%;
position:absolute;
top:50%;
left:0;
transform:translateY(-50%)
}

.pie_progress__number {
font-size:42px
}

.pie_progress__label {
margin-top:32px;
font-size:12px
}

.stat-stats-white {
font-family:roboto;
padding-top:25px;
padding-bottom:25px
}

.stat-stats-white .title {
text-align:center
}

.stat-stats-white .title h2 {
text-align:center;
font-size:3.7em;
font-weight:400;
text-transform:uppercase;
display:inline-block;
border-bottom:1px solid;
padding-bottom:16px;
margin-bottom:18px
}

.stat-stats-white .stat-icon {
width:100%;
position:absolute;
top:50%;
left:0;
transform:translateY(-50%);
text-align:center;
margin:0;
padding:0;
margin-top:0;
font-size:5.5em
}

.stat-stats-white .pie_progress {
text-align:center
}

.stat-stats-white .stat-desc {
font-size:1.2em;
font-weight:400;
margin-top:10px
}

.stat-stats-white .stat-stats .inner-box {
overflow:hidden;
width:180px;
margin:0 auto
}

.stat-stats-white .stat-stat {
padding:25px
}

.stat-stats-white .stat-label {
font-size:1.8em;
font-weight:400
}

.stat-stats-white .stat-running-number {
font-size:3.2em;
font-weight:lighter;
margin-top:5px
}

.price-pricetable-blue {
font-family:roboto;
margin-top:25px;
margin-bottom:25px
}

.price-pricetable-blue h2 {
font-size:35px;
margin-bottom:2px
}

.price-pricetable-blue h3 {
font-size:24px;
font-weight:700
}

.price-pricetable-blue .price-desc {
font-size:17px;
margin-top:10px;
font-weight:400
}

.price-pricetable-blue .price-table {
margin-top:40px;
margin-bottom:20px
}

.price-pricetable-blue .price-header {
padding-top:5px
}

.price-pricetable-blue .price-features {
padding-bottom:25px;
padding-top:70px
}

.price-pricetable-blue .price-box:hover .price-features {
border-top:1px solid
}

.price-pricetable-blue .btn {
background-image:none;
text-shadow:none;
border:none;
font-size:20px;
padding:5px 30px;
font-weight:700
}

.price-pricetable-blue .price-price {
width:110px;
border:2px solid;
text-align:center;
display:inline-block;
border-radius:50% 50%;
height:110px;
vertical-align:middle;
margin-bottom:-55px
}

.price-pricetable-blue .price-price .price-cost {
margin-top:15px;
display:block;
font-size:38px;
font-weight:700
}

.price-pricetable-blue .price-price .price-cost span {
font-size:12px
}

.price-pricetable-blue .price-price .price-duration {
clear:both;
float:left;
text-align:center;
display:block;
width:100%
}

.price-pricetable-blue .price-features-list li {
padding-bottom:10px;
font-size:18px;
font-weight:lighter
}

.testimonial-dark-blue {
padding-top:26px;
padding-bottom:30px;
font-family:roboto
}

.testimonial-dark-blue h2 {
font-weight:lighter;
font-size:34px;
margin-bottom:15px
}

.testimonial-dark-blue .item {
padding:19px
}

.testimonial-dark-blue .inner-box {
display:flex
}

.testimonial-dark-blue .testi-image {
padding:0;
overflow:hidden;
display:inline-block;
align-items:stretch
}

.testimonial-dark-blue .testi-image img {
top:0;
bottom:0;
margin:auto;
position:none;
max-width:100%;
height:auto;
max-height:100%
}

.testimonial-dark-blue .testi-body {
display:block;
font-weight:lighter;
padding-top:12px;
font-size:15px;
line-height:22px;
padding-bottom:3px
}

.testimonial-dark-blue .testi-name-designation {
font-size:21px;
font-weight:400
}

.testimonial-dark-blue .testi-name-designation span {
font-size:13px;
font-style:italic
}

.mobile-carousel-controls {
padding:0 18px
}

.mobile-carousel-controls span {
width:50%;
float:left;
font-size:25px;
text-align:center;
font-weight:lighter;
padding:5px 10px;
cursor:pointer
}

.blog-blue {
font-family:roboto;
padding-top:45px;
padding-bottom:45px
}

.blog-blue h2 {
font-size:42px;
margin:0
}

.blog-blue .view-header .desc {
padding:10px 15px;
font-size:17px;
font-weight:400;
padding-bottom:18px
}

.blog-blue .view-header .blog-readmore {
padding-top:11px
}

.blog-blue .view-header .blog-readmore a {
font-size:1.2em
}

.blog-blue .view-content .blog-image img {
width:100%;
height:auto;
padding-bottom:9px
}

.blog-blue .view-content .blog-title,.blog-blue .view-content .meta-info {
padding-top:9px
}

.blog-blue .view-content .blog-title a {
font-size:21px;
font-weight:lighter;
text-decoration:none
}

.blog-blue .view-content .comments-count {
font-size:15px;
padding-left:0
}

.blog-blue .view-content .posted-date {
font-size:16px
}

.blog-blue .mobile-carousel-controls {
padding:15px
}

.blog-blue .mobile-carousel-controls span {
width:50%;
float:left;
font-size:25px;
text-align:center;
font-weight:lighter;
padding:5px 10px;
cursor:pointer
}

.blog-blue .carousel-inner {
width:auto
}

.team-blue {
font-family:roboto;
padding-top:50px;
padding-bottom:30px
}

.team-blue .team-header {
margin-bottom:20px
}

.team-blue .team-header h2 {
margin-top:0;
margin-bottom:0;
font-size:28px;
font-weight:400
}

.team-blue .team-header .desc {
padding:9px 15px;
font-size:17px;
font-weight:lighter
}

.team-blue .team-header .desc p {
margin:0 0 17px
}

.team-blue .team-inner {
padding:5px;
padding-bottom:17px
}

.team-blue .team-image {
padding:0
}

.team-blue .team-image img {
width:97%;
height:auto;
filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
filter:gray;
-webkit-filter:grayscale(100%)
}

.team-blue .item:hover .team-image img {
filter:none;
-webkit-filter:none
}

.team-blue .team-name {
font-size:22px;
font-weight:400;
text-transform:uppercase;
display:inline-block;
margin-top:-3px;
padding-bottom:5px
}

.team-blue .team-designation {
font-size:15px;
font-weight:400;
padding-left:10px
}

.team-blue .team-body {
display:block;
font-size:14px;
font-weight:400;
padding-bottom:4px
}

.team-blue .team-social a {
font-size:18px
}

.team-blue .carousel-inner {
width:auto
}

.mobile-carousel-controls {
padding:15px
}

.mobile-carousel-controls span {
width:50%;
float:left;
font-size:25px;
text-align:center;
font-weight:lighter;
padding:5px 10px;
cursor:pointer
}

.portfolio-green {
font-family:roboto;
padding-top:46px;
padding-bottom:46px
}

.portfolio-green h2 {
font-size:36px;
margin-top:0;
margin-bottom:20px;
font-weight:700
}

.portfolio-green .desc {
font-size:17px;
font-weight:400
}

.screen-sm #mixitup-container .mix,.screen-md #mixitup-container .mix,.screen-lg #mixitup-container .mix {
display:none
}

.portfolio-green #mixitup-options {
margin-top:30px;
margin-bottom:0;
text-align:center
}

.portfolio-green #mixitup-options ul.option-set {
padding:0;
display:inline-block
}

.portfolio-green #mixitup-options ul.option-set li {
list-style:none;
margin-left:0;
margin-right:20px;
font-size:1.4em;
font-weight:lighter;
display:inline-block;
cursor:pointer;
padding:6px 12px
}

.portfolio-green .mix {
padding:20px;
padding-top:40px
}

.portfolio-green .mix img {
width:100%;
height:auto
}

.portfolio-green .mix .inner-box .portf-image {
display:block;
margin-left:0;
position:relative
}

.portfolio-green .inner-box .portf-hover {
display:none
}

.portfolio-green .inner-hover {
padding:20px
}

.portfolio-green .mix:hover .portf-hover {
display:block;
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
opacity:.8;
overflow:hidden
}

.portfolio-green .portf-inner {
display:none
}

.portfolio-green .mix:hover .portf-hover-inner {
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
margin:auto;
height:100px;
width:auto;
text-align:center
}

.portfolio-green .portf-hover-inner a {
text-align:center;
border:1px solid;
background:transparent;
font-size:17px;
text-decoration:none;
width:40%;
display:block;
margin:10px auto;
padding:5px;
margin-bottom:20px
}

.portfolio-green .carousel-inner {
width:auto
}

.mobile-carousel-controls {
padding:15px;
padding-bottom:30px
}

.mobile-carousel-controls span {
width:50%;
float:left;
font-size:25px;
text-align:center;
font-weight:lighter;
padding:5px 10px;
cursor:pointer
}

.contact-grey {
padding-top:45px;
padding-bottom:40px;
font-family:roboto
}

.contact-grey .desc {
line-height:150%;
font-size:17px;
font-weight:lighter
}

.contact-grey .contact-form .desc {
margin-bottom:32px;
display:block
}

.contact-grey .form-group {
margin-bottom:40px
}

.contact-grey .form-control {
background-color:#364656;
border:1px solid;
font-size:15px;
font-weight:lighter
}

.contact-grey .btn {
font-size:22px;
font-weight:700;
padding:7px 36px
}

.contact-grey .btn i {
margin-right:4px
}

.contact-grey h3 {
margin:0;
font-size:25px;
font-weight:400;
padding-bottom:22px
}

.contact-grey .google-map-wrap {
overflow:hidden;
height:220px;
width:100%;
margin-top:26px;
margin-bottom:26px
}

.contact-grey .google-map-wrap #gmap_canvas {
height:220px;
width:100%
}

.contact-grey .google-map-wrap #gmap_canvas img {
max-width:none!important;
background:none!important
}

.contact-grey address {
margin-bottom:27px;
display:block;
float:left;
padding-bottom:25px;
border-bottom:1px solid
}

.contact-grey address span {
padding-left:0;
margin-top:17px;
font-size:18px
}

.contact-grey address span .fa {
padding-right:10px
}